body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal-overlay.show-modal {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #0e1424;
    padding: 2.5rem; 
    border-radius: 1.25rem; 
    max-width: 90%;
    width: 28rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
}

.modal-overlay.show-modal .modal-content {
    transform: translateY(0);
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #d1d5db;
    cursor: pointer;
    line-height: 1;
    padding: 0.5rem;
    border-radius: 9999px;
    transition: background-color 0.2s ease;
}

.close-button:hover {
    background-color: #1e293b;
}

.image-stack img:nth-child(even) {
    margin-top: 1rem; 
}

@media (min-width: 640px) { 
    .image-stack img:nth-child(even) {
        margin-top: 0;
    }
    .image-stack img:nth-child(odd) {
        margin-bottom: 1rem; 
    }
}
